.tic-tac-toe td {
    width: 33%;
    height: 33%;
    border: solid 5px silver;
    padding: 10px;
    text-align: center;
    opacity: 0%;

    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier();
}

table.tic-tac-toe {
    width: 50vh;
    height: 50vh;
    border: solid 10px black;
    border-collapse: collapse;
    background-image: none;
}

.tic-tac-toe td.toe {
    opacity: 0%;
}

.tic-tac-toe td.tic-enabled {
    background-image: url('./icons/tic.svg');
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    opacity: 100%;
}

.tic-tac-toe td.tac-enabled {
    background-image: url('./icons/tac.svg');
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    opacity: 100%;
}

.tic-tac-toe td.tic-disabled {
    background-image: url('./icons/tic.svg');
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    opacity: 50%;
}

.tic-tac-toe td.tac-disabled {
    background-image: url('./icons/tac.svg');
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    opacity: 50%;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-black-button {
    background-color: black;
    border-radius: 25px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    height: 2em;
    width: 33%;
}

p.primary-text {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 0.1em;
}